body h1 {
    color: tomato;
}

body > h2 {
    color: turquoise;
}

h1 + p {
    font-style: italic;
}

a:link {
    color: blue;
}

a:visited {
    color: tomato;
}

a:hover {
    color: green;
}

a:active {
    color: blue;
}

img:hover {
    transform: rotate(180deg);
}

#First:hover {
    transform: rotate(180deg);
    display: inline-block;
}

.FirstC {
    font-family: fantasy;
    font-style: italic;
}

div > h2 {
    color: turquoise;
}

#About-our-Pizza {
    color: forestgreen;
}